/* Reset and Basic Styles */
body,
h1,
h2,
h3,
p,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #f8f8f7;
  color: #333;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
}

.container {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

h1,
h2,
h3 {
  color: #1d1d1f;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 30px;
}

.input-container {
  width: 50%;
  margin-bottom: 40px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: 2px solid #ccc;
  font-size: 16px;
  text-align: center;
}

input:focus {
  outline: none;
  border-color: #0071e3;
}

button {
  background-color: #0071e3;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-list-item {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nationality-display {
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
}

.nationality-display img {
  width: 20px;
  height: auto;
  margin-left: 5px;
}
